{% extends 'EkynaCartBundle::layout.html.twig' %}

{% block cart %}
{% if not cart.empty %}
    <form action="{{ path('ekyna_cart_index') }}" method="post" novalidate>
        {{ bootstrap_set_style('horizontal') }}
        {{ form_errors(form) }}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'ekyna_order.view.designation'|trans }}</th>
                        <th width="12%">{{ 'ekyna_order.view.unit_net_price'|trans }}</th>
                        <th width="8%">{{ 'ekyna_order.view.quantity'|trans }}</th>
                        <th width="12%">{{ 'ekyna_order.view.total_net_price'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.items %}
                    <tr>
                        <td>
                            {# TODO item_designation twig filter #}
                            {# TODO item_frontend_path twig filter #}
                        {% block item_designation %}
                            <a href="#">{{ item.designation|nl2br|raw }}</a>
                        {% endblock %}
                        </td>
                        <td>{{ item.price|price(5) }}</td>
                        <td>
                            {{ form_widget(form.items[loop.index0].quantity, {'label': false}) }}
                            {{ form_errors(form.items[loop.index0].quantity) }}
                        </td>
                        <td>{{ item|total|price }}</td>
                        <td>
                            {% if not form.items[loop.index0].quantity.vars.disabled %}
                                <a href="{{ path('ekyna_cart_remove_item', {'itemId': item.id}) }}" class="btn btn-sm btn-danger">&times;</a>
                            {% endif %}
                            {{ form_rest(form.items[loop.index0]) }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            {{ form_widget(form.save) }}
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    {% set taxes = cart|taxes %}
                    <tr>
                        <td rowspan="{{ 3 + taxes|length }}" style="text-align:center;">
                            <a href="{{ path('ekyna_cart_reset') }}" class="btn btn-link">{{ 'ekyna_cart.button.clear'|trans }}</a>
                            {{ form_widget(form.saveAndContinue) }}
                            {{ form_rest(form) }}
                        </td>
                        <th colspan="2">{{ 'ekyna_order.view.net_sub_total'|trans }}</th>
                        <td>{{ cart|total|price }}</td>
                        <td rowspan="{{ 3 + taxes|length }}"></td>
                    </tr>
                    {% for tax in taxes %}
                    <tr>
                        <th colspan="2">{{ tax.name }}</th>
                        <td>{{ tax.amount|price }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="2">{{ 'ekyna_order.view.ati_total'|trans }}</th>
                        <td>{{ cart|total(true)|price }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
{% else %}
    <p>{{ 'ekyna_cart.empty'|trans }}</p>
{% endif %}
{% endblock cart %}