{% extends 'EkynaCartBundle::layout.html.twig' %}

{# TODO translations #}

{% block cart %}
{% if not cart.empty %}
    <form action="{{ path('ekyna_cart_index') }}" method="post" novalidate>
        {{ bootstrap_set_style('horizontal') }}
        {{ form_errors(form) }}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Désignation</th>
                        <th width="12%">Prix&nbsp;unit.&nbsp;HT</th>
                        <th width="8%">Quantité</th>
                        <th width="12%">Total HT</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.items %}
                    <tr>
                        <td>
                        {% block item_designation %}
                            <a href="#">{{ item.designation }}</a>
                        {% endblock %}
                        </td>
                        <td>{{ item.price|price(5) }}</td>
                        <td>
                            {{ form_widget(form.items[loop.index0].quantity, {'label': false}) }}
                            {{ form_errors(form.items[loop.index0].quantity) }}
                        </td>
                        <td>{{ item|total|price }}</td>
                        <td>
                            {% if not form.items[loop.index0].quantity.vars.disabled %}
                                <a href="{{ path('ekyna_cart_remove_item', {'itemId': item.id}) }}" class="btn btn-sm btn-danger">&times;</a>
                            {% endif %}
                            {{ form_rest(form.items[loop.index0]) }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            {{ form_widget(form.save) }}
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    {% set taxes = cart|taxes %}
                    <tr>
                        <td rowspan="{{ 3 + taxes|length }}" style="text-align:center;">
                            <a href="{{ path('ekyna_cart_reset') }}" class="btn btn-link">Vider mon panier</a>
                            {{ form_widget(form.saveAndContinue) }}
                            {{ form_rest(form) }}
                        </td>
                        <th colspan="2">Sous-Total HT</th>
                        <td>{{ cart|total|price }}</td>
                        <td rowspan="{{ 3 + taxes|length }}"></td>
                    </tr>
                    {% for tax in taxes %}
                    <tr>
                        <th colspan="2">{{ tax.name }}</th>
                        <td>{{ tax.amount|price }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="2">Total TTC</th>
                        <td>{{ cart|total(true)|price }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
{% else %}
    <p>Votre panier est vide.</p>
{% endif %}
{% endblock cart %}